:root {
	/* Background / Surface */
	--c-surface-0: #ffffff; /* white */
	--c-surface-1: #f9fafb; /* gray-50 */
	--c-surface-2: #f3f4f6; /* gray-100 */
	--c-surface-3: #e5e7eb; /* gray-200 */

	/* Primary (Alpha) */
	--c-primary: 128 63 90; /* emerald-500 */
	--c-primary-strong: 105 48 72; /* emerald-600 */
	--c-primary-muted: 158 88 117; /* emerald-400 */
	--c-primary-subtle: 249 240 244; /* emerald-50 */

	/* Secondary (Alpha) */
	--color-secondary: 128 63 90; /* emerald-500 */
}
