# env file is designed to be used by the docker-compose file
# rename file to .env 

MINIO_ROOT_PASSWORd=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
ASSET_PREFIX=

NEXTAUTH_REDIRECT_URL=
NEXTAUTH_SECRET=
KEYCLOAK_ISSUER_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

POSTGRES_PASSWORD=
NEXT_PUBLIC_ONLINE_HELP_LANGUAGES="en,de"
NEXT_PUBLIC_ONLINE_HELP_BASE_URL="https://your-help-base-url"