@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100 900;
	src: url(../public/Inter-roman.var.woff2) format("woff2");
}

.sidenav::-webkit-scrollbar {
	width: 8px;
}

.sidenav::-webkit-scrollbar-track {
	background-color: theme("colors.transparent");
}

.sidenav::-webkit-scrollbar-thumb {
	background-color: theme("colors.slate.600");
}

html {
	font-family: Inter;
	scroll-behavior: smooth;
	letter-spacing: -0.02em;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: theme("colors.slate.700");
}

#__next {
	height: 100%;
	min-height: 100vh;
}

h1,
h2,
h3 {
	font-weight: 700;
	letter-spacing: -0.05em;
	color: theme("colors.slate.800");
}

.glass {
	@apply border border-white bg-white bg-opacity-50 shadow-lg backdrop-blur;
}

.glass-hover {
	@apply transition-colors hover:bg-opacity-90;
}

.card {
	@apply rounded-lg p-8;
}

.multi-gradient {
	background: linear-gradient(62deg, #8ec5fca9, #e0c3fcb9);
}
