@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(../public/Inter-roman.var.woff2) format("woff2");
}

html {
	font-family: Inter;
	scroll-behavior: smooth;
	letter-spacing: -0.02em;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	@apply text-slate-700;
}

h1,
h2,
h3 {
	@apply text-slate-900 font-bold;
	letter-spacing: -0.05em;
}

#__next {
	height: 100%;
	min-height: 100vh;
}

.text-light {
	color: var(--color-text-light);
}
