@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(../public/Inter-roman.var.woff2) format("woff2");
}

.sidenav::-webkit-scrollbar {
	width: 8px;
}

.sidenav::-webkit-scrollbar-track {
	background-color: theme("colors.transparent");
}

.sidenav::-webkit-scrollbar-thumb {
	background-color: theme("colors.slate.600");
}

html {
	font-family: Inter;
	scroll-behavior: smooth;
	letter-spacing: -0.02em;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: theme("colors.slate.700");
}

h1,
h2,
h3 {
	font-weight: 700;
	letter-spacing: -0.05em;
	color: theme("colors.slate.900");
}

#__next {
	height: 100%;
	min-height: 100vh;
}
